.btn {
  position: relative;
  overflow: hidden;
}

.btn:before {
  content: '';
  position: absolute;
  height: 100px;
  width: 20px;
  background: #f3f3f3;
  box-shadow: 0 0 10px #fff;
  filter: blur(1px);
  opacity: 0.9;
  top: -30px;
  transition: 0.7s all;
  transform: rotate(-20deg) translateX(-60px);
}

.btn:hover:before {
  transform: rotate(-20deg) translate(140px, 70px);
}

.btnSignUp {
  position: relative;
  overflow: hidden;
}

.btnSignUp:before {
  content: '';
  position: absolute;
  height: 100px;
  width: 20px;
  background: #f3f3f3;
  box-shadow: 0 0 10px #fff;
  filter: blur(1px);
  opacity: 0.9;
  top: -30px;
  transition: 0.7s all;
  transform: rotate(-20deg) translateX(-80px);
}

.btnSignUp:hover:before {
  transform: rotate(-20deg) translate(140px, 70px);
}

.btnCheckOut {
  position: relative;
  overflow: hidden;
}

.btnCheckOut:before {
  content: '';
  position: absolute;
  height: 100px;
  width: 20px;
  background: #f3f3f3;
  box-shadow: 0 0 10px #fff;
  filter: blur(1px);
  opacity: 0.9;
  top: -30px;
  transition: 0.7s all;
  transform: rotate(-20deg) translateX(-80px);
}

.btnCheckOut:hover:before {
  transform: rotate(-20deg) translate(190px, 70px);
}
